mat-spinner {
  margin-top: 40px;
}

.no-data {
  background: antiquewhite;
  padding: 30px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
}

.error {
  background: rgb(251 165 165 / 43%);
  color: red;
  padding: 30px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
}
