<div class="p-3">

  <ng-container *ngIf="vm$ | async as vm">
    <app-employees-filter-form
      [filters]="vm.filters"
      (filtered)="filterEmployees($event)">
    </app-employees-filter-form>

    <app-employees-table
      *ngIf="vm.data.length > 0 && !vm.loading"
      [data]="vm.data"
      [pagination]="vm.pagination"
      (paginated)="paginateEmployees($event)">
    </app-employees-table>

    <div *ngIf="vm.loading" class="center">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="vm.data.length === 0 && vm.loaded && !vm.error" class="no-data">
      No data found!
    </div>

    <div *ngIf="vm.error" class="error">
      {{ vm.error }}
    </div>
  </ng-container>

</div>
